@import "../../styleVariables"

#about-us
  width: 100%
  min-height: calc(50dvh + 100px)
  //max-height: calc(100dvh + 100px)
  //overflow-y: hidden
  background-color: $black
  color: $white
  display: flex
  flex-direction: row
  justify-content: start
  align-items: start
  @media only screen and (max-width: $bp-tablet-landscape-up)
    flex-direction: column
    padding: 100px 0
  @media only screen and (max-width: $bp-phone)
    padding: 100px 0
    button
      padding: 5px
      img
        width: auto
        height: 100%
  img
    width: 50%
    display: flex
    height: auto
    max-height: 50dvw
    //min-height: 100%
    object-fit: cover
    padding: 100px 0
    @media only screen and (max-width: $bp-tablet-landscape-up)
      width: 100%
      min-width: 100%
      padding: 0
  .container
    display: flex
    flex-direction: column
    align-items: center
    width: 50%
    height: 100%
    padding: 100px
    @media only screen and (max-width: $bp-tablet-landscape-up)
      width: 100%
    @media only screen and (max-width: $bp-phone)
      padding: 20px  20px
    h1
      margin: 0
    p
      font-size: 1.2rem
      width: 100%
      //line-height: 1.5rem
    button
      color: $black
      width: 90%
      //font-size: 1rem
      margin-top: 10px
      padding: 0
      font-size: .9rem
      &:hover
        color: $yellow
      @media only screen and (max-width: $bp-phone)
        font-size: .75rem
