@font-face {
  font-family: "MontserratBold";
  src: url("../public/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "MontserratRegular";
  src: url("../public/fonts/Montserrat-Regular.ttf");
}
#first-section {
  display: flex;
  min-height: 100dvh;
  height: 100dvh;
  padding: 100px 225px;
  padding-right: 10px;
  color: rgb(252, 252, 252);
  flex-direction: column;
  justify-content: start;
  align-items: end;
}
@media only screen and (max-width: 1400px) {
  #first-section {
    padding-right: 50px;
  }
}
@media only screen and (max-width: 900px) {
  #first-section {
    padding: 100px 10px;
    align-items: center;
    background-image: url("../../../public/images/dragons-dungeon/hero-banner-small.jpg");
    background-size: cover;
    background-position: 50% 50%;
  }
}
#first-section .first-section-background {
  display: flex;
  position: absolute;
  background-color: rgb(31, 31, 31);
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: -1;
}
#first-section .first-section-background img {
  width: 100dvw;
  height: 100dvh;
  object-fit: cover;
}
#first-section h1 {
  text-align: right;
  height: auto;
  text-shadow: 2px 2px 5px rgb(31, 31, 31);
  width: 55%;
  scale: 1;
  margin-right: 50px;
  margin-bottom: 50px;
  font-size: 2.5rem;
}
@media only screen and (max-width: 900px) {
  #first-section h1 {
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
#first-section h3 {
  scale: 1;
  width: 40%;
  text-align: right;
  text-shadow: 2px 2px 5px rgb(31, 31, 31);
  margin: 0;
  margin-right: 50px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
@media only screen and (max-width: 1400px) {
  #first-section h3 {
    margin-top: auto;
  }
}
@media only screen and (max-width: 1200px) {
  #first-section h3 {
    width: 75%;
    text-align: right;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 900px) {
  #first-section h3 {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    font-size: 0.75rem;
  }
}
#first-section a, #first-section button {
  width: 400px;
  min-height: 50px;
  color: rgb(31, 31, 31);
  background-color: rgb(245, 209, 81);
  border-radius: 5px;
  outline: 0 solid rgb(245, 209, 81);
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
  margin-right: 50px;
  padding: 0;
}
@media only screen and (max-width: 1400px) {
  #first-section a, #first-section button {
    margin-top: 0;
    margin-right: 50px;
  }
}
@media only screen and (max-width: 1200px) {
  #first-section a, #first-section button {
    margin-right: 50px;
  }
}
@media only screen and (max-width: 900px) {
  #first-section a, #first-section button {
    width: 40%;
    margin: 0;
    margin-top: 10px;
    min-height: 30px;
    height: 30px;
    font-size: 0.75rem;
  }
}
#first-section a h4, #first-section button h4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
@media only screen and (max-width: 900px) {
  #first-section a h4, #first-section button h4 {
    font-size: 0.75rem;
  }
}
#first-section a:hover, #first-section button:hover {
  background-color: transparent;
  color: rgb(245, 209, 81);
  border-radius: 10px;
}

.first-igrolend {
  padding: 100px 225px 100px 50px !important;
  align-items: flex-start !important;
}
@media only screen and (max-width: 900px) {
  .first-igrolend {
    padding: 100px 20px !important;
    align-items: center !important;
    background-image: url("../../../public/images/dragons-dungeon/image.png") !important;
  }
}
.first-igrolend h1 {
  text-align: left !important;
  font-size: 2.5rem !important;
}
@media only screen and (max-width: 900px) {
  .first-igrolend h1 {
    font-size: 1.25rem !important;
    text-align: center !important;
    width: 100% !important;
  }
}
.first-igrolend h3 {
  text-align: left !important;
  margin-top: 20px !important;
}
@media only screen and (max-width: 900px) {
  .first-igrolend h3 {
    text-align: center !important;
    width: 100% !important;
  }
}
.first-igrolend a, .first-igrolend button {
  margin: 10px 0 0 !important;
}
.first-igrolend img {
  width: 50%;
  height: auto;
}
@media only screen and (max-width: 900px) {
  .first-igrolend img {
    width: 100%;
  }
}

/*# sourceMappingURL=FirstSection.css.map */
