#contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px 300px;
}
@media only screen and (max-width: 1400px) {
  #contacts {
    padding: 100px 150px;
  }
}
@media only screen and (max-width: 1200px) {
  #contacts {
    flex-direction: column;
    padding: 100px 50px;
  }
}
@media only screen and (max-width: 900px) {
  #contacts {
    padding: 100px 20px;
  }
}
#contacts h1 {
  width: 100%;
}
@media only screen and (max-width: 900px) {
  #contacts h1 {
    font-size: 1.333rem;
  }
}
#contacts h2, #contacts h3 {
  width: 100%;
  margin-bottom: 0;
}
#contacts .item {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
@media only screen and (max-width: 1200px) {
  #contacts .item {
    width: 100%;
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 900px) {
  #contacts .item {
    margin-bottom: 20px;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
  }
}
#contacts .item h4 {
  margin: 20px 0 0;
  scale: 1;
}
@media only screen and (max-width: 1200px) {
  #contacts .item h4 {
    width: 100%;
    text-align: center;
  }
}
#contacts .item p {
  font-size: 1rem;
  scale: 1;
}
@media only screen and (max-width: 900px) {
  #contacts .item p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
}
#contacts .item a {
  font-size: 1.3rem;
  scale: 1;
  display: flex;
  width: fit-content;
  flex-direction: column;
  color: rgb(31, 31, 31);
}
@media only screen and (max-width: 900px) {
  #contacts .item a {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 900px) {
  #contacts .item a:nth-child(3) {
    margin-bottom: 20px;
    translate: 0;
  }
}
#contacts .item a:after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: rgb(31, 31, 31);
  display: flex;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
}
@media only screen and (max-width: 900px) {
  #contacts .item a:after {
    height: 3px;
  }
}
#contacts .item a:nth-child(7):after {
  background-color: #0076fd;
  translate: 0 5px;
}
#contacts .item a:hover:after {
  width: 100%;
}
#contacts .item:nth-child(2) {
  padding: 0 50px;
}
@media only screen and (max-width: 900px) {
  #contacts .item:nth-child(2) {
    padding: 0 20px;
  }
}
#contacts .item:nth-child(2) p {
  font-size: 1.3rem;
}
@media only screen and (max-width: 900px) {
  #contacts .item:nth-child(2) p {
    font-size: 1rem;
    text-align: center;
  }
}
#contacts .item:nth-child(3) {
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}
@media only screen and (max-width: 900px) {
  #contacts .item:nth-child(3) {
    padding: 0 20px;
  }
}
#contacts .any-questions {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contacts .any-questions h3 {
  margin-bottom: 0;
}
#contacts .any-questions h4 {
  margin-top: 0;
}
#contacts .any-questions button {
  width: 50%;
  color: rgb(252, 252, 252);
  font-size: 0.75rem;
  padding: 0;
}
#contacts .any-questions button:hover {
  color: rgb(245, 209, 81);
}

/*# sourceMappingURL=SixthSection.css.map */
